<section class="container-fluid header-top">
  <div class="container">
    <div class="row position-rel">
      <div class="col-md-4 align-self-center">
        <div class="phone position-abs">
          <a href="tel:97298920950" class="phone-link">
             <span class="phone-text">972-9-8920950 <span>ליצירת קשר - +</span></span>  
          </a>
          
        </div>
      </div>
      <div class="col-md-4 text-center">
        <img src="/assets/images/logo.png" alt="arrow">
      </div>
      <div class="col-md-4">
        <div class="button float-right text-center align-middle">
          <p class="button-text">לפרטים נוספים</p>
        </div>
      </div>
    </div>
  </div>    
</section>
  