<section class="container-fluid">
  <div class="container">
      <div class="row">
        <div class="col-md-5 order-md-2">
            <div class="about-logo align-self-end">
                <img src="/assets/images/logo-web.png" alt="arrow">
            </div>
        </div>  
        <div class="col-md-7 order-md-1">
          <div class="text-block">
              <p class="text-right text-style">חברת Davidshield נוסדה בשנת 2000, וכיום נחשבת לאחת החברות המובילות בעולם בתחום ביטוחי הבריאות הבינלאומיים לישראלים ברילוקיישן וכן לתושבי מדינות שונות המתגוררים מחוץ לארצם. החברה פעילה בלמעלה מ-140 מדינות, עם משרדים בישראל, אירופה וארה״ב. Davidshield פיתחה במהלך השנים מגוון שירותים דיגיטלים מתקדמים ויחודיים, עליהם זכתה בפרסים רבים ובאמצעותם יצרה חוויית משתמש יחידה מסוגה בתחום הביטוח, שמאפשרת בין השאר למבוטחי החברה לצרוך שירותי רפואה בכל מקום בעולם, ולשלם עבורם ישירות באמצעות כרטיס מבוטח ללא צורך בהגשת תביעה להחזר או בהוצאת כסף מהכיס.</p>
          </div>
        </div>  
      </div>
  </div>
</section>
