<section class="container-fluid">
  <div class="background">
    <div class="container">
      <div class="row logo-banner">
          <div class="col-md-12 text-center">
              <a href="https://www.passportcard.co.il/"><img src="/assets/images/main_baner_logo.png" alt="arrow"></a>
          </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-6">
          <p class="header-text">PassportShield<br>
          המענה לנשארים בחו"ל מעבר 
          לתקופת ביטוח הנסיעות</p>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-7">
          <p class="footer-text">מבוטחי PassportCard זכאים להטבת הצטרפות ייחודית ברכישת הביטוח הרפואי של DavidShield – הביטוח של הישראלים </p>
         </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button float-right text-center align-middle">
            <a href="#contact"><p class="button-text">לפרטים נוספים</p></a>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>
