<section class="container-fluid">
<div class="container py-5">  
  <div class="row">
    <div class="col-md-6 offset-md-6 header-text">
      <p>אז מה זה<span>?PassportShield</span></p>
    </div>
  </div>
  <div>     
    <div class="col-md-6 offset-md-6 footer-text px-0">
      <p>מסלול PassportShield החדש, מאפשר לך לקבל את סל השירותים הרפואיים שלך במדינה בה הנך שוהה, בדומה לסל הבריאות בישראל</p>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-4 push-md-4 order-md-3">
        <div class="row">
            <div class="col text-right height">
                  <img src="/assets/images/icon3.png"  alt="icon"> 
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p><strong>כיסוי רפואי</strong></p> 
            </div> 
          </div>
          <div class="row">
            <div class="col">
              <p>כיסוי רפואי ללא הגבלת זמן, למגוון הליכים ובדיקות הכלולות בסל השירותים הרפואיים.</p>
            </div>
          </div>  
      </div>
    <div class="col-md-4 pull-md-4 order-md-2">
      <div class="row">
            <div class="col text-right height">
              <img src="/assets/images/icon2.png" alt="icon">
            </div>
      </div>
      <div class="row">
          <div class="col">
            <p><strong>כיסוי ללייף סטייל</strong></p>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <p>החזר הוצאות לחדר כושר, לתכניות שמירה על המשקל וגמילה מעישון.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4 order-md-1">
        <div class="row">
        <div class="col text-right height">
          <img src="/assets/images/icon1.png" alt="icon">
        </div>
      </div>
      <div class="row">
          <div class=col>
            <p><strong>בשגרה ובחירום</strong></p>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <p>מביקורי רופא, בדיקות שגרתיות והריון ועד לאשפוזים, ניתוחים ומחלות קשות.</p>
          </div>
      </div>
    </div>
  </div>
</div>  
</section>
